:root {
    /*Primary colors*/
    --darkBlue: #275D72;
    --blue: #347B98;
    --lightBlue: #D4EDF7;
    --white: #ffffff;
}

* { box-sizing: border-box; }

html { height: 100%; }

body {
    display: grid;
    grid-template-areas: 
        'header header'
        'menu content'
        'menu footer';
    grid-template-rows: 40px 1fr 30px;
    grid-template-columns: 20vw 1fr;
    /*grid-gap: 3px;*/
    
    height:100%;
    margin: 0;
    padding: 0;
    top:0;
    bottom:0;

    background-color: var(--darkBlue);
    text-align: center;
    font-size: 20px;
}

header { 
    grid-area: header; 

    position: sticky;
    overflow: hidden;
    top: 0;
    /*border-bottom: 3px solid var(--darkBlue);*/

    background-color: var(--blue);
}

.logo {
    display: inline;
    float: left;
    padding: 8px;

    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    outline: none;
    color: var(--white);
}

nav { 
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 8px 16px;

    color: var(--lightBlue);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--darkBlue);
}

.menu { 
    grid-area: menu;

    position: fixed;
    top: 40px;
    width: 20vw;
    height: 100vw;

    /*border-right: 3px solid var(--darkBlue);*/
    border-right: 3px solid var(--blue);
    background-color: var(--lightBlue);
}

#coinsAmount {
    width: 60%;
    height: 15px;
}

.sideNav {
    padding: 0 10%;
    overflow: auto;
}

.sideNav ul {
    margin: 0;
    padding: 0;

    text-align: left;
    list-style-type: none;
}

.sideNav a {
    display: block;

    line-height: 30px;
    text-decoration: none;
    color: var(--blue);
}

.sideNav a:hover {
    color: var(--darkBlue);
}

.content { 
    grid-area: content; 

    padding: 10px;

    background-color: var(--lightBlue);
}

footer { 
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;

    /*border-top: 3px solid var(--darkBlue);*/
    color: var(--lightBlue);
    background-color: var(--blue);
}
