@import "main.css";

.content {
    display: grid;
    grid-template-rows: 40px 40px auto auto auto auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        'goBack goBack'
        'cardName cardName'
        'specification picture'
        'mintage mintage'
        'addCollection addCollection'
        'swap swap';
}

.goBack {
    grid-area: goBack;
    display: flex;
    align-items: center;
}

button {
    margin-left: 0;
}

.cardName, .specification, .coinPicture, .mintage, .addCollection, .swap {
    text-align: left;
    padding: 10px;
}

.cardName {
    grid-area: cardName;
    display: flex;
    align-items: center;
    padding-left: 10px;

    font-weight: bold;
    border: 1px solid rgba(125, 179, 199, 1);
    border-radius: 4px;
    background-color: rgba(212, 237, 247, 1);
}

.specification {
    grid-area: specification;
}

.coinPicture {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 250px;

    margin: 10%;
    padding: 10px;

    border: 1px solid rgba(125, 179, 199, 1);
    border-radius: 50%;
}

.mintage {
    grid-area: mintage;

    border-top: 1px solid rgba(125, 179, 199, 1);
    border-bottom: 1px solid rgba(125, 179, 199, 1);
}

.addCollection {
    grid-area: addCollection;

    border-bottom: 1px solid rgba(125, 179, 199, 1);
}

.swap {
    grid-area: swap;
}

table, th, td {
    border: 1px solid rgba(211, 211, 211, 1);
    border-collapse: collapse;
}

table {
    width: 100%;
}

th, td {
    padding: 5px;
}

th {
    width: 20%;
}

td {
    width: 80%;
}

tr:nth-child(even) {
    background-color: rgba(231, 243, 248, 1);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + .collapsed {
    display: none;
}

input[type="checkbox"]:checked + .collapsed {
    display: block;
}

.mintageTable th, .mintageTable td {
    width: 25%;
}

.containerName {
    font-size: 18px;
    color: rgba(39, 93, 114, 1);
}

.addCoinModal {
    display: none;
    position: fixed;
    margin: auto;
    z-index: 1;
    padding: 2% 1% 2% 1%;
    text-align: left;
    border: 1px solid rgba(135, 152, 173, 0.6);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(135, 152, 173, 0.2);
}

.modalNameRow, .coinNameRow {
    color: rgba(46, 56, 77, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;

}

.coinNameRow {
    color: rgba(46, 56, 77, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
}

.addCoinModal input[type=text], .addCoinModal select {
    width: 200px;
}
