@import "main.css";
.content {
    display: grid;
    grid-template-rows: 40px 40px auto auto auto auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'goBack goBack' 'cardName cardName' 'specification picture' 'mintage mintage' 'addCollection addCollection' 'swap swap';
    font-size: 14px;
}

.goBack {
    grid-area: goBack;
    display: flex;
    align-items: center;
}

button {
    margin-left: 0;
}

.cardName, .specification, .coinPicture, .mintage, .addCollection, .swap {
    text-align: left;
    padding: 10px;
}

.cardName {
    grid-area: cardName;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid var(--grey);
    background-color: var(--lightBlue);
}

.specification {
    grid-area: specification;
}

.specification td {
    border: 1px solid var(-white);
}

.coinPicture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--orange);
    background-color: var(--lightOrange);
    color: var(--darkBlue);
    border-radius: 50%;
}

.coinPictureContainer {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    width: 250px;
    height: 250px;
}

.coinPictureContainer img {
    width: 90%;
    height: 90%;
}

.coincardImageSource {
    color: var(--darkerBlue);
    margin-top: 15px;
}

.coincardImageSource a {
    color: var(--darkerBlue);
    text-decoration: none;
}

.coincardImageSource a:hover {
    color: var(--darkerBlue);
    text-decoration: underline;
}

.mintage {
    grid-area: mintage;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.coincardMint {
    display: inline-block;
}

.coincardIssueDate {
    display: inline-block;
}

.textColorDarkBlue {
    display: inline-block;
    font-weight: bold;
    color: var(--darkerBlue);
}

.textItalic {
    font-style: italic;
}

.addCollection {
    grid-area: addCollection;
    border-bottom: 1px solid var(--grey);
    overflow-x: auto;
}

.swap {
    grid-area: swap;
}

.swap>.checkboxContainer {
    width: max-content;
}

table, th, td {
    border: 1px solid var(--grey);
    border-collapse: collapse;
}

table {
    width: 100%;
}

th, td {
    padding: 5px;
}

th {
    width: 20%;
}

td {
    width: 80%;
}

.mintageTableHeader, .specificationTableHeader {
    color: var(--white);
}

.mintageTable th {
    font-weight: bold;
    color: var(--white);
}

.collapse {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+.collapsed {
    display: none;
}

input[type="checkbox"]:checked+.collapsed {
    display: block;
}

.mintageTable th, .mintageTable td {
    width: 25%;
}

.containerName {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--darkBlue);
}

/*Added coins section*/

.wantThisCoinBtnContainer {
    margin: 5px 0;
}

.addedCoinsTable {
    width: 100%;
    overflow-x: auto;
}

.coincardAddedCoins {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: auto;
    min-width: 500px;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    margin-bottom: 5px;
}

.coincardAddedCoins:hover {
    background-color: var(--lightBlue);
}

/*When added coins table hovered, change checkbox background color*/

.coincardAddedCoins:hover>.coincardAddedSwap .checkboxContainer .fCheckbox {
    background-color: transparent;
}

.coincardAddedId {
    width: 10%;
}

.coincardAddedGrade {
    width: 18%;
}

.coincardAddedAmount {
    width: 18%;
}

.coincardAddedDataBtn {
    width: 18%;
}

.coincardAddedDataBtn a {
    text-decoration: none;
    color: var(--darkBlue);
}

.coincardAddedDataBtn a:hover {
    text-decoration: underline;
}

.coincardAddedSwap {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coincardAddedSwap .checkboxContainer {
    padding: 0;
    justify-content: center;
}

.coincardAddedSwap .checkboxContainer>.fCheckbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coincardAddedDeleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18%;
    width: max-content;
    height: max-content;
}

.coincardAddedCoinsHeader {
    font-weight: bold;
    color: var(--white);
    background-color: var(--orange);
}

.coincardAddedCoinsHeader:hover {
    background-color: var(--orange);
}

.deleteBtnContainer {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.deleteBtnContainer:hover>.deleteBtn, .deleteBtnContainer:hover>.deleteBtn::after {
    border-color: var(--darkBlue);
}

.deleteBtn {
    position: absolute;
    width: 15px;
    height: 3px;
    top: 8px;
    left: 2.5px;
    transform: rotate(45deg);
    border-bottom: 3px solid rgb(189, 189, 189);
    background-color: rgb(189, 189, 189);
    padding: 0;
    border-radius: 0px;
}

.deleteBtn::after {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    bottom: 12px;
    transform: rotate(-90deg);
    border-bottom: 3px solid rgb(189, 189, 189);
}

.deleteBtnContainer input[type=button] {
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    height: 100%;
    width: 21px;
    border: none;
}

.modalWantThisCoinBtnContainer input[type=button], .wantedCoinDeleteForm input[type=button] {
    min-width: 100px;
}

.coincardSwapOfferSName {
    font-size: 16px;
}

.coincardOtherUsersRequests, .coincardOtherUsersOffers {
    display: flex;
    flex-wrap: wrap;
}

.coincardUserSwapOffer {
    margin: 5px 20px 5px 0;
    color: var(--darkBlue);
    font-weight: 400;
    cursor: pointer;
}

.coincardUserSwapOffer:hover {
    text-decoration: underline;
}

.addedCoinModalCoinId, .coinIdModalCoinId, .addedCoinIdToDelete, .addedCoinToSwapId, .wantThisCoinId, .wantThisCoinChangeId, .wantThisCoinDeleteId, .myOfferCoinId, .myOfferWantedCoinId, .myOfferOtherUserUsername, .myReuestOtherUserUsername, .coinRequestOfferedCoinId {
    display: none;
}

.coincardWantThisCoinForm, .changeWantedCoin {
    display: none;
}

.textBold {
    text-transform: none;
    font-weight: bold;
    display: inline-block;
}

.rowMarginTop {
    margin-top: 10px;
}

@media only screen and (max-width: 1300px) {
    .content {
        display: grid;
        grid-template-rows: 40px 40px auto auto auto auto;
        grid-template-columns: 3fr 1.5fr;
        grid-template-areas: 'goBack goBack' 'cardName cardName' 'specification picture' 'mintage mintage' 'addCollection addCollection' 'swap swap';
        font-size: 14px;
        font-weight: 300;
    }
}

@media only screen and (max-width: 992px) {
    .content {
        display: grid;
        grid-template-rows: 40px 40px auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 'goBack' 'cardName' 'picture' 'specification' 'mintage' 'addCollection' 'swap';
        font-size: 14px;
        font-weight: 300;
    }
    .coinPicture {
        width: 250px;
        height: 250px;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid rgba(125, 179, 199, 1);
        border-radius: 50%;
    }
}
