@import "main.css";

.countries, .denominations, .commemorative, .colored, .silver, .gold {
    border: var(--containerBorder);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1% 2% 1% 2%;
}

.countries:hover, .denominations:hover, .commemorative:hover, .colored:hover, .silver:hover, .gold:hover {
    background-color: var(--bgPrimaryColor);
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.categoryHeader {
    color: var(--textColor);
}

.country {
    width: 100px;
    height: 50px;
    margin: 3px;
    padding: 0;
    font-size: 16px;
    /*background-color:  #e7f3f8;*/
    background-color: var(--bgContainerColor);
    color: var(--secondaryColor);
    /*border: 1px solid #7db3c7;*/
    border: 1px solid var(--borderSecondaryColor);
    border-radius: 4px;
    cursor: pointer;
}

.country:hover{
    /*background-color: #7db3c7;*/
    background-color: var(--btnBgColor);
    color: var(--btnTextColor);
}
