@import "main.css";

.countries, .denominations, .commemorative, .colored, .silver, .gold {
    box-shadow: 5px 5px 5px rgba(135, 152, 173, 0.2);
    border: 1px solid rgba(135, 152, 173, 0.6);
    border-radius: 3px;
    margin-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1% 2% 1% 2%;
    background-color: rgb(255, 255, 255);
}

.countries:hover, .denominations:hover, .commemorative:hover, .colored:hover, .silver:hover, .gold:hover {
   background-color: rgba(249, 254, 255, 1);
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.categoryHeader {
    color: rgba(46, 56, 77, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
}

.country {
    width: 100px;
    height: 50px;
    margin: 3px;
    padding: 0;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgba(52, 123, 152, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border: 1px solid rgba(135, 152, 173, 0.6);
    border-radius: 4px;
    cursor: pointer;
}

.country:hover{
    color: rgba(46, 56, 77, 1);
    background-color: rgba(214, 228, 234, 1);
}
