@import "main.css";

.countries, .denominations, .commemorative, .colored, .silver, .gold {
    border: 1px solid var(--secondaryColor);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1% 2% 2% 2%;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.country {
    width: 100px;
    height: 50px;
    margin: 3px;
    padding: 0;
    font-size: 16px;
    background-color:  #e7f3f8;
    color: var(--secondaryColor);
    border: 1px solid #7db3c7;
    border-radius: 4px;
    cursor: pointer;
}

.country:hover{
    background-color: #7db3c7;
}
