@import "main.css";

body {
    display: grid;
    grid-template-areas: 
        'header header'
        'menu content'
        'menu footer';
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 18vw 1fr;
    
    top:0;
    bottom:0;

    text-align: center;
}


/*Header*/
header {
    grid-area: header; 

    position: sticky;
    z-index: 1;
    top: 0;
    overflow: hidden;

    font-size: var(--fontHeadingSize);
    background-color: var(--headerPrimaryColor);
}

.logo {
    display: inline;
    float: left;

    text-transform: uppercase;
}

.logo a {
    display: block;
    padding: 8px;
    
    text-decoration: none;
    outline: none;
    color: var(--btnTextColor);
}


/*Header navigation*/
nav { 
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 8px 16px;

    text-decoration: none;
    color: var(--bgSecondaryColor);
}

nav a:hover {
    background-color: var(--headerSecondaryColor);
}


/*Side navigation*/
.menu { 
    grid-area: menu;

    position: fixed;
    top: 40px;
    width: 18vw;
    min-height: 45vh;
    padding: 0.5%;

    border-bottom: var(--containerBorder);
    background-color: var(--bgContainerColor);
}

.myCoinsAmountMeter {
    width: 100%;
    height: 15px;

    background-color: var(--meterCoinsAmountColor);
}

.myCoinsAmountProgress {
    width: 40%;
    height: 15px;

    text-align: right;
    font-size: 14px;
    color: white;
    background-color: var(--meterCoinsProgressColor);
}

.myCoinsAmountProgress::before, .myCoinsAmountProgress::after {
    content: " ";
    white-space: pre;
}

.sideNav {
    padding: 0 10%;
    overflow: auto;
}

.sideNav ul {
    margin: 0;
    padding: 0;

    text-align: left;
    list-style-type: none;
}

.sideNav a {
    display: block;

    line-height: 30px;
    text-decoration: none;
    color: var(--headerSecondaryColor);
}

.sideNav a:hover {
    background-color: var(--bgSecondaryColor);
}


/*Main content container*/
.content { 
    grid-area: content; 

    padding: 10px;

    font-size: var(--fontContentSize);
    border-left: var(--containerBorder);
    background-color: var(--bgContainerColor);
}


/*Footer*/
footer { 
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: var(--containerBorder);
    border-left: var(--containerBorder);
    color: var(--headerSecondaryColor);
    background-color: var(--bgPrimaryColor);
}
