@import "main.css";

body {
    display: grid;
    grid-template-areas: 
        'header header'
        'menu content'
        'menu footer';
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: minmax(150px, 12vw) 1fr;
    
    top:0;
    bottom:0;

    text-align: center;
}


/*Header*/
header {
    grid-area: header; 

    position: sticky;
    z-index: 1;
    top: 0;
    overflow: hidden;

    font-size: var(--fontHeadingSize);
    background-color: var(--headerPrimaryColor);
}

.logo {
    display: inline;
    float: left;

    text-transform: uppercase;
}

.logo a {
    display: block;
    padding: 8px;
    
    text-decoration: none;
    outline: none;
    color: var(--btnTextColor);
}


/*Header navigation*/
nav { 
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 8px 16px;
    transition: all 0.35s ease-in-out;

    text-decoration: none;
    color: var(--bgSecondaryColor);
}

nav a:hover {
    background-color: var(--headerSecondaryColor);
    transition: all 0.3s ease-in-out;
}

.navBtnContainer {
    display: none;
    width: 40px;
    height: 40px;
    padding-right: 8px;
    cursor: pointer;
}

.navBtnContainer:hover {
    background-color: var(--headerSecondaryColor);
    transition: all 0.35s ease-in-out;
}

.navBtn {
    position: relative;
    border-bottom: 3px solid var(--btnTextColor);
    width: 25px;
    height: 20px;
    top: 25%;
    left: 7.5px;
    transition: all 0.3s ease-in-out;
}

.navBtn:before {
    content: "";
    position: absolute;
    border-top: 3px solid var(--btnTextColor);
    width: 100%;
    left: 0;
}

.navBtn:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--btnTextColor);
    width: 100%;
    top: 50%;
    left: 0;
}

.navCloseBtn {
    position: relative;
    border-bottom: 3px solid var(--btnTextColor);
    width: 25px;
    height: 3px;
    top: 18px;
    left: 8px;
    transform: rotate(45deg);
    transition: all 0.35s ease-in-out;
}

.navCloseBtn::after {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--btnTextColor);
    width: 100%;
    top: 0;
    left: 0;
    bottom: 18px;
    right: 8px;
    transform: rotate(-90deg);
}


/*Side navigation*/
/*.menu { 
    grid-area: menu;

    position: fixed;
    top: 40px;
    width: 18vw;
    min-height: 45vh;
    /*padding: 0.5%;*/
    /*border: 1px solid var(--secondaryColor);

    border-bottom: var(--containerBorder);
    background-color: var(--bgContainerColor);
    /*background-color: var(--bgPrimaryColor);
}*/

.menu { 
    grid-area: menu;

    position: fixed;
    top: 40px;
    /*min-height: 45vh;*/
    height: 100%;
    min-width: 150px;
    width: 12vw;
    /*padding: 0.5%;*/
    /*border: 1px solid var(--secondaryColor);*/

    /*border-bottom: var(--containerBorder);*/
    /*background-color: var(--bgContainerColor);*/
    background-color: var(--bgPrimaryColor);
}

.menuWidth {
    width: 18vw;
}

.menuSmallWidth {
    width: 2vw;
}

.myCoinsAmountMeter {
    width: 100%;
    height: 15px;

    background-color: var(--meterCoinsAmountColor);
    border-radius: 3px;
}

.myCoinsAmountProgress {
    width: 40%;
    height: 15px;

    text-align: right;
    font-size: 14px;
    color: white;
    background-color: var(--meterCoinsProgressColor);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.myCoinsAmountProgress::before, .myCoinsAmountProgress::after {
    content: " ";
    white-space: pre;
}

.sideNav {
    padding: 0 10%;
    overflow: auto;
    /*height: inherit;*/
    width: 100%;
}

.sideNav ul {
    margin: 0;
    padding: 0;

    text-align: left;
    list-style-type: none;
}

.sideNav a {
    display: block;

    line-height: 30px;
    text-decoration: none;
    color: var(--headerSecondaryColor);
}

.sideNav a:hover {
    /*background-color: var(--bgSecondaryColor);*/
    color: var(--borderPrimaryColor);
}

.sideNavBtnContainer {
    display: none;
}

/*.pcSideNavBtnContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 23px;
    /*background-color: var(--headerPrimaryColor);
    opacity: 0.95;
    transition: all 0.35s ease-in-out;
    justify-content: flex-end;
    align-content: center;
    cursor: pointer;
}

.pcSideNavBtnContainer:hover {
    background-color: var(--headerSecondaryColor);
}

.pcSideNavCloseBtn {
    width: 12px;
    height: 12px;
    border-bottom: 1px solid var(--borderPrimaryColor);
    border-left: 1px solid var(--borderPrimaryColor);
    transform: rotate(225deg);
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.35s ease-in-out;
}

.pcSideNavBtn {
    width: 12px;
    height: 12px;
    border-bottom: 1px solid var(--borderPrimaryColor);
    border-left: 1px solid var(--borderPrimaryColor);

    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    transition: all 0.35s ease-in-out;
}

.pcSideNavBtnContainer:hover > .pcSideNavBtn {
    border-bottom: 2px solid var(--btnTextColor);
    border-left: 2px solid var(--btnTextColor);
    transition: all 0.35s ease-in-out;
}

.pcSideNavBtnContainer:hover > .pcSideNavCloseBtn {
    border-bottom: 2px solid var(--btnTextColor);
    border-left: 2px solid var(--btnTextColor);
    transition: all 0.35s ease-in-out;
}

.pcSideNavClosed {
    display: none;
}*/


/*Main content container*/
.content { 
    grid-area: content; 

    padding: 10px;

    font-size: var(--fontContentSize);
    border-left: var(--containerBorder);
    background-color: var(--bgContainerColor);
}

/*.contentMargin {
    margin-left: 18vw;
}

.contentSmallMargin {
    margin-left: 2vw;
}

.wideContent {
    grid-area: content; 

    padding: 10px;
    margin-left: 2vw;

    font-size: var(--fontContentSize);
    border-left: var(--containerBorder);
    background-color: var(--bgContainerColor);
}*/

.hideCountries > .contentContainer, .hideDenominations > .contentContainer, .hideDenominationsCheckbox > .floatRight,
.hideCommemorative > .contentContainer, .hideCommemorativeCheckbox > .floatRight{
    display: none;
}


/*Footer*/
footer { 
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: var(--containerBorder);
    border-left: var(--containerBorder);
    color: var(--headerSecondaryColor);
    background-color: var(--bgPrimaryColor);
}

@media only screen and (max-width: 768px) {
    nav .navLinksOnMobile {
        top: 40px;
        position: fixed;
        justify-content: center;
        /*height: 160px;*/
        height: 100vh;
        /*background-color: var(--headerPrimaryColor);*/
        background-color: rgba(52, 123,152, 0.7);
        z-index: 2;
        /*opacity: 0.95;*/
    }

    .navLinksOnMobile li {
        background-color: var(--headerPrimaryColor);
        opacity: 0.95;
    }

    nav .navLinks {
        display: none;
    }

    nav, nav a {
        width: 100vw;
    }

    .logo {
        position: absolute;
        float: left;
        left: 0;
    }

    .navBtnContainer {
        display: block;
        float: right;
    }

}

@media only screen and (max-width: 992px) {
    body {
        display: grid;
        grid-template-areas:
            'header'
            'menu'
            'content'
            'footer';
        grid-template-rows: 40px auto 1fr 40px;
        grid-template-columns: 1fr;
    }

    .content {
        border: none;
    }

    /*Side navigation*/
    .menu {
        position: relative;
        top: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        /*background-color: var(--bgPrimaryColor);*/
        /*background-color: var(--bgSecondaryColor);*/
        border-bottom: var(--containerBorder);
        border-radius: 0;
    }

    .sideNav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .myCoinsAmountMeter {
        width: 40%;
        max-width: 200px;
        height: 15px;
        margin-bottom: 20px;
    
        background-color: var(--meterCoinsAmountColor);
        border-radius: 3px;
    }

    .myCoinsAmountProgress {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .sideNav ul {
        width: 100%;
        /*background-color: var(--bgPrimaryColor);*/
        background-color: var(--bgContainerColor);
        /*margin: 10px 0 0 0;*/
        margin: 0;
        border-top: var(--containerBorder);
    }

    .sideNav a {
        text-align: center;
    }

    .sideNav a:hover {
        background-color: var(--borderPrimaryColor);
        color: var(--bgPrimaryColor);
    }

    .sideNavBtnContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*width: 85px;*/
        width: 100%;
        height: 23px;
        cursor: pointer;
        background-color: var(--btnTextColor);
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 10px;
        background-color: var(--headerPrimaryColor);
        opacity: 0.95;
        transition: all 0.35s ease-in-out;
        /*border-bottom: var(--containerBorder);
        border-radius: 10px 10px 0 0;*/
    }
    
    .sideNavBtnContainer:hover {
        /*width: 100px;*/
        /*background-color: var(--bgSecondaryColor);*/
        background-color: var(--headerSecondaryColor);
        /*transition: all 0.35s ease-in-out;*/
    }

    .sideNavCloseBtn {
        width: 12px;
        height: 12px;
        border-bottom: 2px solid var(--btnTextColor);
        border-left: 2px solid var(--btnTextColor);
        top: 6px;
        left: 12px;
        margin-top: 7px;
        margin-left: 7px;
        transform: rotate(135deg);
        transition: all 0.35s ease-in-out;
    }

    .sideNavBtn {
        width: 12px;
        height: 12px;
        border-bottom: 2px solid var(--btnTextColor);
        border-left: 2px solid var(--btnTextColor);
        top: 6px;
        left: 12px;
        margin-top: -7px;
        margin-left: 7px;
        transform: rotate(-45deg);
        transition: all 0.35s ease-in-out;
    }

    .sideNavText {
        color: var(--btnTextColor);
    }

    .sideNavLinks {
        display: none;
    }

    .sideNavLinksOnMobile {
        display: block;
    }

    .pcSideNavBtnContainer {
        display: none;
    }
}
