/*@import "styles_main.css";*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: 
        'welcome login'
        'footer footer';
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255, 1);
}

.welcome, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        'loginTop'
        'loginCenter'
        'loginBottom';
}

.loginTop {
    grid-area: loginTop;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    font-weight: 400;
}

.loginCenter {
    grid-area: loginCenter;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBottom {
    grid-area: loginBottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    grid-area: welcome;

    flex-direction: column;

    font-size: 3vw;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 48, 66, 1);
}

.welcomeLogo {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(45, 60, 86, 1);
}

.logo {
    font-family: 'Times New Roman', Times, serif;
}

.logInForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.forgotPassForm {
    /*display: flex*/
    
    display: none;
    flex-direction: column;
    width: 50%;
}

.recoverAccountForm {
    /*display: flex;*/

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.pleaseLogIn, .findYourAccount {
    margin-bottom: 20px;

    font-weight: 300;
}

.recoverAccountText {
    margin-top: 5px;
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 15px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 8px;

    border: 1px solid rgba(52, 123, 152, 1);
    border-radius: 4px;

    font-family: 'Rubik', sans-serif;
    font-weight: 300;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(32, 41, 60, 1);
}

input[type=text]:focus, input[type=password]:focus, input[type=email] { 
    background-color: rgba(32, 42, 65, 1);
    color: rgba(52, 123, 152, 1);
}

label {
    width: 100%;

    text-align: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

label[for=username], label[for=password], label[for=email] {
    margin-top: 10px;
    margin-bottom: 5px;
}

input:invalid {
    outline: none;
    box-shadow: none;
}

.inputError {
    font-size: 14px;
    text-align: right;
    height: 14px;
}

.forgotPassword {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 5px;
}

.forgotPassword a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(152, 167, 185, 1);
}

.forgotPassword a:hover { text-decoration: underline; }

.forgotPassBtn { margin: 0; }

button, input[type=submit] {
    padding: 8px 12px;
    width: 60%;
    min-width: 100px;
    
    cursor: pointer;

    border: none;
    border-radius: 4px;
    
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: rgba(52, 123, 152, 1);
}

button:hover, input[type=submit]:hover { opacity: 0.9; }

.logInBtn {
    margin-top: 2px;
    margin-bottom: 10px;
}

.forgotPassBtn {
    margin-top: 12px;
    margin-bottom: 10px;
}

.logInBtnContainer, .forgotPassBtnContainer {
    display: flex;
    justify-content: right;
    width: 100%;
}

.logInDiv { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.signUpContainer { width: 40%; }

.signUpContainer button { width: 50%; }

.lineContainer { width: 5%; }

.line {
    display: inline-block;

    height: 100px;
    margin: 15px 10px 10px 10px;
    border-left: 3px solid rgba(37, 48, 66, 1);
}

.login {
    grid-area: login;

    font-weight: 300;
    color: rgba(152, 167, 185, 1);
    background-color: rgba(45, 60, 86, 1);
}

/*Checkbox*/
.cBoxOuterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkboxContainer {
    position: relative;

    display: flex;
    /*Save atuto width when flex*/
    flex-basis: max-content;
    padding-left: 10px;
}

.cbLabel { padding-left: 15px; }

.cb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fCheckbox {
    position: absolute;

    height: 16px;
    width: 16px;

    cursor: pointer;

    border: 1px solid rgba(52, 123, 152, 1);
    border-radius: 4px;
    background-color: rgba(45, 60, 86, 1);
}

.checkboxContainer a { padding-left: 4px; }

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.checkboxContainer:hover .fCheckbox{ background-color: rgba(32, 42, 65, 1); }

.fCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

.fCheckbox:after {
    height: 8px;
    width: 4px;

    top: 1px;
    right: 4px;

    transform: rotate(45deg);

    border-right: 2px solid rgba(152, 167, 185, 1);
    border-bottom: 2px solid rgba(152, 167, 185, 1);
}

.checkboxContainer input[type=checkbox]:checked ~ .fCheckbox:after { display: block; }

input[type=checkbox]:checked ~ .fCheckbox{ background-color: rgba(32, 42, 65, 1); }

.fCheckbox:active, label[class=checkboxContainer]:active > .fCheckbox {
    box-shadow: 0 0 0 1px rgba(52, 123, 152, 1) inset;
    background-color:  rgba(32, 42, 65, 1);
}

footer {
    grid-area: footer;

    border-top: 3px solid rgba(37, 48, 66, 1);
    color: rgba(32, 42, 65, 1);
    background-color: rgba(45, 60, 86, 1);
}


@media only screen and (max-width: 992px) {
    .loginTop { font-size: 2vw; }

    .loginCenter { flex-direction: column; }

    .logInForm { width: 80%; }

    button[type=submit] { width: 130px; }

    .lineContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .line {
        width: 30%;
        height: auto;

        border-left: none;
        border-bottom: 3px solid rgba(37, 48, 66, 1);
    }

    .signUpContainer button { 
        width: 40%; 
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .logInDiv, .signUpContainer, .lineContainer { width:100%; }
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 40px;
        grid-template-areas: 
            'welcome'
            'login'
            'footer';
    }

    .welcome { font-size: 25px; }

    .login { display: block; }

    .login {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr 0.5fr;
        grid-template-areas: 
            'loginTop'
            'loginCenter'
            'loginBottom';
    }

    .loginTop { font-size: 3vw; }

    .signUpContainer button { margin-bottom: 0; }

    footer { background-color: rgba(45, 60, 86, 1); }
}
