/*@import "styles_main.css";*/

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: 
        'welcome login'
        'footer footer';
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 20px;
    color: #275D72;
}

.welcome, .login, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    grid-area: welcome;

    font-size: 3vw;
    background-color: #7db3c7;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #00a6e2;
    border-radius: 4px;
    color: #334a52;
    background-color: #347c9842;
}

input[type=text]:focus, input[type=password]:focus { 
    background-color: #a9bec5; 
}

input:invalid {
    outline: none;
    box-shadow: none;
}

button {
    background-color: #00a6e2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    width: 30%;
    min-width: 100px;
    margin: 10px;
    cursor: pointer;
}

button:hover { opacity: 0.9; }

.logInForm { width: 55%; }

.signUpContainer { width: 40%; }

.signUpContainer button { width: 50%; }

.lineContainer { width: 5%; }

.line {
    border-left: 3px solid #7db3c7;
    display: inline-block;
    height: 100px;
    margin: 15px 10px 10px 10px;
}

.login {
    grid-area: login;
    background-color:  #D4EDF7;
}

/*Checkbox*/
.cBoxOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.checkboxContainer {
    position: relative;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cbLabel {
    padding-left: 15px;
}

.cb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fCheckbox {
    position: absolute;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: #347c9842;
    border: 1px solid #00a6e2;
    border-radius: 4px;
}

.checkboxContainer a {
    padding-left: 4px;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
/*
.checkboxContainer:hover .fCheckbox{
    background-color: #ffffff;
}*/

.fCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

.fCheckbox:after {
    border-right: 2px solid #275d72;
    border-bottom: 2px solid #275d72;
    height: 8px;
    width: 4px;
    transform: rotate(45deg);
    top: 1px;
    right: 4px;
}

.checkboxContainer input[type=checkbox]:checked ~ .fCheckbox:after {
    display: block;
}

input[type=checkbox]:checked ~ .fCheckbox{
    /*background-color: #ffffff;*/
    background-color: #347c9842;
}

.fCheckbox:active, label[class=checkboxContainer]:active > .fCheckbox {
    box-shadow: 0 0 0 1px #00a6e2 inset;
    background-color:  #a9bec5;
}

footer {
    grid-area: footer;
    border-top: 3px solid #7db3c7;
    background-color: #D4EDF7;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 40px;
        grid-template-areas: 
            'welcome'
            'login'
            'footer';
    }

    .welcome { font-size: 20px; }

    .login { 
        padding-top: 10vh;
        display: block; }

    .logInForm, .signUpContainer, .lineContainer { width:100%; }

    .lineContainer {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .line {
        border-left: none;
        border-bottom: 3px solid #7db3c7;
        height: auto;
        width: 30%;
    }

    .signUpContainer button { width: 25%; }

    footer { background-color: #7db3c7;}
}
