:root {
    --lightBlue: rgba(231, 243, 248, 1);
    --blue: rgba(52, 123, 152, 1);
    --darkBlue: rgba(39, 93, 114, 1);
    --darkerBlue: rgb(46, 56, 77, 1);
    --darksestBlue: rgba(51, 74, 82, 1);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey: rgba(135, 152, 173, 0.6);
    --lighterGrey: rgba(135, 152, 173, 0.4);
    --darkGrey: rgba(135, 152, 173, 1);
    --orange: rgba(241, 150, 46, 1);
    --lightOrange: rgba(241, 150, 46, 0.3);
    --green: rgb(0, 137, 86);
    --lightGreen: rgb(71, 192, 136);
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

input[type=text], input[type=password], input[type=email], input[type=date], select, textarea, input[type=file], input[type=number] {
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    border: 1px solid var(--blue);
    color: var(--darksestBlue);
    background-color: var(--white);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=file]:focus, input[type=number]:focus {
    color: var(--blue);
}

button, input[type=submit], input[type=button] {
    padding: 8px 12px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
}

input:invalid {
    outline: none;
    box-shadow: none;
}

label {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
    opacity: 0.9;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.displayInline {
    display: inline;
}

table, th, td {
    border: 1px solid var(--grey);
    border-collapse: collapse;
}

th {
    background-color: var(--lightOrange);
}

tr:hover .tableColumnCell {
    background-color: var(--lightBlue);
}

.tableName {
    color: var(--darkerBlue);
    font-size: 16px;
}
