@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { box-sizing: border-box; }

html, body { min-height: 100vh; }

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

input[type=text], input[type=password], input[type=email], input[type=date], select, textarea, input[type=file] {
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

    /*margin: 0 0 10px 0;*/
    border: 1px solid rgba(52, 123, 152, 1);
    color: rgba(51, 74, 82, 1);
    background-color: rgb(255, 255, 255);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=file]:focus { 
    color: rgba(52, 123, 152, 1);
}

button, input[type=submit] {
    padding: 8px 12px;
    background-color: rgba(52, 123, 152, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;

    /*margin: 10px;*/

}

input:invalid {
    outline: none;
    box-shadow: none;
}

label {
    font-family: 'Rubik', sans-serif;
}

button:hover, input[type=submit]:hover {
    opacity: 0.9;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.displayInline {
    display: inline;
}
