@import "main.css";
/*Coincard modal*/
.modalContent {
    /*display: flex*/
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.modalNameRow, .coinNameRow {
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
}

.modalNameRow {
    color: rgba(46, 56, 77, 1);
}

.coinNameRow {
    color: rgba(52, 123, 152, 1);
}

.closeBtnContainer {
    display: block;
    align-self: flex-end;
    position: fixed;
    width: 40px;
    height: 40px;
    padding-right: 8px;
    cursor: pointer;
    margin: -5px;
}

.closeBtnContainer:hover {
    background-color: rgb(39, 93, 114);
}

.closeBtnContainer:hover>.closeBtn, .closeBtnContainer:hover>.closeBtn::after {
    border-color: rgb(255, 255, 255);
}

.closeBtn {
    position: relative;
    width: 25px;
    height: 3px;
    top: 18px;
    left: 8px;
    transform: rotate(45deg);
    border-bottom: 3px solid rgba(52, 123, 152, 1);
}

.closeBtn::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 18px;
    right: 8px;
    transform: rotate(-90deg);
    border-bottom: 3px solid var(--blue);
}

label {
    font-size: 15px;
    font-weight: 300;
    width: 100px;
    color: var(--darkerBlue);
    text-align: left;
}

.modal form {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.modal .inputContainer {
    display: flex;
    flex-direction: row;
}

.formLeftSide, .formRightSide {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal input[type=text], .modal select {
    width: 70%;
    margin-bottom: 5px;
    border-color: rgba(135, 152, 173, 0.6);
}

.modal textarea, .modalUserMyOffer textarea {
    width: 100%;
    margin-bottom: 5px;
    border-color: rgba(135, 152, 173, 0.6);
    resize: none;
}

.modal input[type=submit], .modal #modalSaveCoinBtn, .modal #modalSendUserOffer, .modal #modalSendMyOffer {
    width: 20%;
    min-width: 150px;
    align-self: flex-end;
}

.modal input[type=file] {
    border: none;
}

.modal input[type=text]:focus, .modal select:focus, .modal textarea:focus, .modal input[type=file]:focus, .fileInputLabel:focus, .modalUserMyOffer textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(135, 152, 173, 0.6);
}

.fileInputLabel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    border-radius: 4px;
    padding: 7px 8px 7px 8px;
    font-size: 15px;
    font-weight: 300;
    color: rgba(51, 74, 82, 1);
    background-color: rgba(231, 243, 248, 1);
    border: 1px solid rgba(135, 152, 173, 0.6);
    cursor: pointer;
}

.fileInputLabel:hover {
    opacity: 0.9;
    color: rgba(52, 123, 152, 1);
}

.fileInput {
    display: none;
}

/*Want this coin section*/

.modalWantThisCoinText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 5px;
    padding: 25px 0;
    width: 100%;
}

.modalWantThisCoinBtnContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.modalWantThisCoinBtnContainer button {
    margin-left: 10px;
    min-width: 100px;
}

.modalWantThisCoinConfirm, .modalWantThisCoinSwapRequest {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
}

.modalWantThisCoinSwapParemeters {
    display: flex;
    flex-direction: column;
    padding: 5px 0 10px 5px;
    width: 100%;
}

.modalWantThisCoinSwapParemeters textarea {
    resize: none;
}

.modalWantThisCoinParamRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
    height: 55px;
}

.modalWantThisCoinParamRow select {
    width: 100%;
}

.modalWantThisCoinParamRow input[type=range] {
    width: 90%;
}

.wantThisCoinRangeRow {
    display: flex;
    padding: 8px 0;
}

.wantThisCoinRangeValue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    width: 10%;
    margin-right: 2px;
    border-radius: 3px;
    background-color: rgb(214, 228, 234);
}

.modalWantThisCoinSwapParemeters label {
    width: 100%;
}

.modalContentMyOffer, .modalContentWantThisCoin {
    /*display: flex*/
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalUserMyOffer, .modalWantThisCoin {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.coinSwapSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(135, 152, 173, 0.6);
    border-radius: 3px;
    margin: 5px;
    font-weight: 300;
    font-size: 16px;
}

.coinSwapSettings:hover {
    background-color: rgba(230, 244, 241, 1);
}

.coinSwapSettingsOrder {
    width: 10%;
}

.coinSwapSettingsId {
    width: 10%;
}

.coinSwapSettingsId a {
    text-decoration: none;
    color: rgb(76, 84, 95);
    font-weight: 400;
}

.coinSwapSettingsId a:hover {
    text-decoration: underline;
}

.coinSwapSettingsType {
    width: 20%;
}

.coinSwapSettingsName {
    width: 40%;
}

.coinSwapSettingsAvailability {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.coinSwapSettingsHeader {
    font-weight: bold;
    color: rgba(39, 93, 114, 1);
    background-color: var(--lightOrange);
}

#modalMyCoinsToOfferList {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

#modalMyCoinsToOfferChangeList {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin: 10px 0;
}

.modalMyOffercloseBtnContainer {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.coinSwapSettingsAvailability label {
    margin-left: 50%;
    margin-bottom: 15px;
}

/*.closeBtnContainer:hover {
    background-color: rgb(39, 93, 114);
}*/

/*My offer in coincard*/

.modalUserMyOfferViewUserRequest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.modalUserMyOfferCoinToChoose {
    /*display: flex;*/
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modalMyOfferCloseBtnContainer:hover>.modalMyOfferCloseBtn, .modalMyOfferCloseBtnContainer:hover>.modalMyOfferCloseBtn::after {
    /*border-color: white;*/
    border-color: rgb(39, 93, 114);
}

.modalMyOfferCloseBtn {
    position: relative;
    width: 20px;
    height: 3px;
    top: 13px;
    left: 5px;
    transform: rotate(45deg);
    border-bottom: 3px solid rgb(189, 189, 189);
}

.modalMyOfferCloseBtn::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 12px;
    transform: rotate(-90deg);
    border-bottom: 3px solid rgb(189, 189, 189);
}

.modalMyCoinsCommentLabel {
    padding: 4px;
}

#modalSendMyOffer {
    align-self: flex-end;
}

/*Swap modal*/

.swapModalContent {
    /*display: flex*/
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.swapModal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.swapModalNameRow {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    color: rgba(46, 56, 77, 1);
}

.swapModalDismissContainer, .swapModalCancelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#swapModalDismiss, #swapModalCancel {
    display: none;
}

.swapDismissConfirmationText, .swapCancelConfirmationText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 5px;
    padding: 25px 0;
}

.swapModalBtnRow {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.swapModalBtn {
    min-width: 80px;
    margin-left: 10px;
}

/*Change swap offer modal*/

.swapChangeOfferModalContent {
    /*display: flex*/
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.swapChangeOfferModal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/*Add new contact modal*/

.modalContentAddNewContact {
    /*display: flex*/
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalAddNewContact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    min-height: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.modalSeacrhNameRow {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
    font-weight: 400;
    color: rgba(52, 123, 152, 1);
}

.contactsSearchSubmitContainer {
    position: relative;
    width: 21px;
    height: 21px;
    margin: 0 10px;
    padding: 0;
    border-radius: initial;
    background-color: transparent;
}

.contactsSearchSubmitContainer:hover {
    opacity: 0.8;
}

.contactsSearchSign {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    border-radius: 50%;
    border: 2px solid rgba(46, 56, 77, 1);
    background-color: transparent;
}

.contactsSearchSignPart {
    position: absolute;
    width: 10px;
    height: 2px;
    top: 14px;
    left: 10px;
    transform: rotate(45deg);
    border-bottom: 2px solid rgba(46, 56, 77, 1);
}

.modalContactSearchInput {
    height: 30px;
    flex-grow: 1;
    width: 50%;
    min-width: 150px;
    outline: none;
}

.modalContactSearchInput:focus {
    box-shadow: 0 0 0 1px rgba(52, 123, 152, 1);
}

.modalSearchForm {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0 10px 5px;
}

.modalSearchContactValue {
    padding-left: 5px;
}

.modalSearchContactResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    width: 100%;
    flex-grow: 1;
}

.modalSearchResultRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 5px 0;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    border-radius: 3px;
    font-weight: 400;
    color: rgba(45, 60, 86, 1);
}

.modalSearchResultRow:hover {
    background-color: rgb(200, 200, 200);
}

.modalSearchUsername {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modalSearchUsernameText:hover {
    cursor: pointer;
    color: rgba(52, 123, 152, 1);
}

.modalSearchUsernameText:hover+.userOnlineSign {
    background-color: #47c088;
}

@media only screen and (max-width: 992px) {
    .modal, .swapModal {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .modal {
        width: 90%;
    }
    .modalUserMyOffer, .modalWantThisCoin {
        width: 98%;
    }
    .swapModal {
        width: 80%;
    }
}
