@import "main.css";

.content {
    display: grid;
    grid-template-rows: 40px 40px auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'goBack'
    'cardName'
    'description'
    'coins';
    font-size: 14px;
    font-weight: 300;
}

.goBack {
    grid-area: goBack;
    display: flex;
    align-items: center;
}

.cardName {
    grid-area: cardName;
    display: flex;
    align-items: center;

    padding-left: 10px;
    font-weight: bold;

    border: 1px solid rgba(125, 179, 199, 1);
    border-radius: 4px;
    background-color: rgba(212, 237, 247, 1);
}

.cardDescription {
    grid-area: description;
    border-bottom: 1px solid rgba(125, 179, 199, 1);
}

.coins {
    grid-area: coins;
}

button {
    margin-left: 0;
}

.cardName, .cardDescription, .coins {
    text-align: left;
    padding: 10px;
}

.containerName {
    font-size: 18px;
    color: rgba(39, 93, 114, 1);
}

table {
    width: 80%;
}

th, td {
    padding: 5px;
    width: 33.33%;
}

tr:nth-child(even) {
    background-color: rgba(231, 243, 248, 1);
}
