@import "main.css";
.searchContainerName {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    color: var(--darkerBlue);
    margin-bottom: 2%;
}

.searchValueContainer {
    margin: 10px 0;
    font-size: 18px;
}

.searchResults {
    padding: 5% 0;
    font-size: 16px;
    color: var(--black);
}
