@import "main.css";
.settingsContainerName {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: rgba(45, 60, 86, 1);
    margin-bottom: 2%;
}

.settingsMenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}

.settingsMenuBtn {
    text-align: left;
    font-size: 17px;
    color: rgb(46, 56, 77, 1);
    padding-right: 60px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 400;
}

#userSettingsName:hover, #collectionSettingsName:hover {
    color: rgba(52, 123, 152, 1);
}

form {
    width: 65%;
    text-align: left;
}

.formRow {
    display: flex;
    margin-bottom: 3px;
    width: 100%;
}

.formLabel {
    padding: 8px;
    width: 160px;
    border-radius: 4px;
    background-color: rgba(212, 237, 247, 0.8);
    color: rgba(45, 60, 86, 1);
    margin-bottom: 5px;
    font-size: 16px;
}

.formLeftContainer {
    padding: 8px;
    width: 160px;
}

.formRow label[for=fMale], .formRow label[for=fFemale] {
    margin-right: 10px;
    color: rgba(45, 60, 86, 1);
}

.formRow input[type=text], input[type=email], input[type=password], input[type=date], .formRow select, .genderRow, .inputRow {
    width: 40%;
    min-width: 400px;
    width: 40%;
    margin: 0 5px 5px 5px;
}

.genderRow {
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.inputRow {
    display: flex;
    justify-content: right;
}

.containerName {
    font-size: 20px;
    margin-bottom: 2%;
    text-align: left;
}

.mistakeRow {
    display: flex;
    justify-content: left;
    align-items: center;
}

.collectionSettingsTab {
    display: flex;
    text-align: left;
}

.collectionSetupRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.collectionSetupRow label {
    margin: 0 50px 10px 0;
}

.collectionLevelsConainer {
    margin: 10px 0;
}

.collectionLevelsContainerName {
    line-height: 40px;
}

.collectionLevelRow {
    margin-bottom: 10px;
}

.collectionLevelRow span {
    color: rgb(179, 179, 179);
}

.collectionLevelRow label {
    text-transform: uppercase;
    font-weight: 400;
}

.opened {
    display: block;
}

.closed {
    display: none;
}
