/*@import "main.css";*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: 
        'welcome signUp'
        'footer footer';
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255, 1);
}

.signUp {
    grid-area: signUp;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        'top'
        'center'
        'bottom';

    font-weight: 300;
    color: rgba(152, 167, 185, 1);
    background-color: rgba(45, 60, 86, 1);
}

.signUpTop {
    grid-area: top;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    font-weight: 400;
}

.signUpCenter {
    grid-area: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signUpBottom { grid-area: bottom; }

.welcome {
    grid-area: welcome;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 3vw;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 48, 66, 1);
}

.welcomeLogo {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(45, 60, 86, 1);
}

.logo {
    font-family: 'Times New Roman', Times, serif;
}

.signUpFormName {
    margin-bottom: 20px;
    font-weight: 300;
}

.signUpForm { width: 100%; }

.formRightArea {
    display: flex;

    width: 32.5%;
    max-width:400px;
}

.formRow {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

input[type=text], input[type=password], input[type=email] {
    width: 35%;
    max-width: 400px;
    margin: 0;

    padding: 8px;
    border: 1px solid rgba(52, 123, 152, 1);
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(32, 41, 60, 1);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus, input[type=date]:focus { 
    color: rgba(52, 123, 152, 1);
}

input:invalid {
    outline: none;
    box-shadow: none;
}

.recuiredField {
    font-size: 15px;
    font-weight: 300;
    margin-top: -4px;
}

label {
    text-align: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

input[type=submit] {
    padding: 8px 12px;
    width: 30%;
    min-width: 125px;
    
    cursor: pointer;

    border: none;
    border-radius: 4px;
    
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: rgba(52, 123, 152, 1);
}

input[type=submit]:hover { opacity: 0.9; }

#fUsernameMistake, #fEmailMistake, #fPWDMistake, #fConfPWDMistake, #fTermsMistake, #fRequiredFiend {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 16px;
    padding-left: 2%;
    width: 32.5%;
    max-width: 400px;
}

.formTermsRow, .formSubmitRow, .goBackBtnRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
}

.goBackBtnRow a {
    font-size: 16px;
    color: rgba(152, 167, 185, 1);
}


/*Checkbox*/
.checkboxContainer {
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fCheckbox {
    position: absolute;
    left: 0;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: 1px solid rgba(52, 123, 152, 1);
    border-radius: 4px;
    background-color: rgba(45, 60, 86, 1);
}

.checkboxContainer a {
    padding-left: 4px;
    color: rgba(152, 167, 185, 1);
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.checkboxContainer:hover .fCheckbox{ background-color: rgba(32, 42, 65, 1); }

.fCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

.fCheckbox:after {
    border-right: 2px solid rgba(152, 167, 185, 1);
    border-bottom: 2px solid rgba(152, 167, 185, 1);
    height: 8px;
    width: 4px;
    transform: rotate(45deg);
    top: 1px;
    right: 4px;
}

.checkboxContainer input[type=checkbox]:checked ~ .fCheckbox:after { display: block; }

input[type=checkbox]:checked ~ .fCheckbox{ background-color: rgba(32, 42, 65, 1); }

.fCheckbox:active, label[class=checkboxContainer]:active > .fCheckbox {
    box-shadow: 0 0 0 1px rgba(52, 123, 152, 1) inset;
    background-color:  rgba(32, 42, 65, 1);
}


/*Radio
.radioContainer {
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
}

.fRadio {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: rgba(45, 60, 86, 1);
    border: 1px solid rgba(52, 123, 152, 1);
    border-radius: 50%;
}

.fRadio:active, label[class=radioContainer]:active > .fRadio {
    box-shadow: 0 0 0 1px rgba(52, 123, 152, 1) inset;
    background-color:  rgba(32, 42, 65, 1);
}

.fRadio:after {
    content: "";
    display: none;
    top: 6px;
    left: 6px;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: rgba(152, 167, 185, 1);
}

.radioContainer input[type=radio]:checked ~ .fRadio:after { display: block; }

input[type=radio]:checked ~ .fRadio{ background-color: rgba(32, 42, 65, 1); }*/

footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 3px solid rgba(37, 48, 66, 1);
    color: rgba(32, 42, 65, 1);
    background-color: rgba(45, 60, 86, 1);
}


/*Responsive layout*/

@media only screen and (max-width: 1300px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 40px;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 40px;
        grid-template-areas: 
            'welcome'
            'login'
            'footer';
    }
}
