.swapContainerName {
    font-size: 22px;
    color: rgba(45, 60, 86, 1);
    margin-bottom: 2%;
}

.swapMenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.swapMenuBtn {
    text-align: left;
    font-size: 17px;
    color: rgb(46, 56, 77, 1);
    padding-right: 60px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 400;
}

#myRequestsName:hover, #othersRequestsName:hover, #manageSwapName:hover {
    color: var(--blue);
}

.swapOthersRequests, .swapMyRequests, .swapManageOffer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#othersRequests {
    color: var(--blue);
}

.swapUserRequest, .swapMyRequest {
    width: 90%;
    text-align: left;
    border: 1px solid rgba(135, 152, 173, 0.6);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(135, 152, 173, 0.2);
    padding: 1%;
    margin-bottom: 5px;
    /*background-color: rgba(135, 152, 173, 0.09);*/
    font-weight: 400;
}

.swapUserRequest:hover, .swapMyRequest:hover {
    background-color: var(--lightestGrey);
}

.swapUserRequestName, .swapMyRequestName {
    text-align: left;
    color: var(--darkerBlue);
    font-weight: 400;
    cursor: pointer;
    margin: 5px 0;
}

.swapUserRequestName:hover, .swapMyRequestName:hover {
    color: var(--blue);
}

.swapUserRequestContainer, .swapMyRequestContainer {
    padding-left: 2%;
}

.swapUserRequestCoinContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-align: left;
}

.myCoinContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    margin-bottom: 1%;
    margin-right: 5px;
    padding: 3px;
    /*background-color: white;*/
    background-color: rgba(135, 152, 173, 0.09);
}

.myCoinContainer:hover {
    background-color: rgba(135, 152, 173, 0.2);
}

.myCoinContainerName {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: var(--blue);
}

.myCointContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.coinPicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 110px;
    max-height: 110px;
    margin: 5px;
}

.coinPicContainer img {
    max-width: 110px;
    max-height: 110px;
    border: 1px solid var(--blue);
}

.coinPic {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    min-height: 110px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(220, 220, 220, 0.6);
}

.coinDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    color: var(--darkBlue);
    padding-left: 10%;
}

.coinDescription span {
    margin-bottom: 5px;
}

.coinDescription a {
    text-decoration: underline;
    color: var(--darkBlue);
}

.coinDescription a:hover {
    color: var(--blue);
}

.swapCoinDetailsBtn {
    display: inline-block;
    text-decoration: underline;
    color: var(--darkBlue);
    cursor: pointer;
}

.swapCoinDetailsBtn:hover {
    color: var(--blue);
}

.forContainer {
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: 0 5% 0 5%;
}

.swapRepliesName {
    display: none;
}

.swapReplies {
    display: none;
    align-items: flex-start;
    width: 100%;
    max-height: 150px;
    /*border: 1px solid var(--grey);*/
    border-radius: 3px;
    margin-bottom: 1%;
    padding: 1%;
    /*background-color: transparent;*/
    background-color: rgba(135, 152, 173, 0.09);
    color: var(--darkBlue);
    overflow: auto;
}

.swapOfferDetails, .swapWrittenReply {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 50px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    margin-bottom: 1%;
    padding: 1%;
    background-color: var(--white);
    color: var(--darkBlue);
    overflow: auto;
}

.swapReplyRequestContainer {
    /*display: flex;*/
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}

.swapReplyInput {
    resize: none;
    border-color: var(--grey);
}

.swapReplyInput:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--grey);
}

.swapSendMessageBtn {
    margin-right: 5px;
    display: none;
}

.swapUserRequestButtons button {
    margin-right: 5px;
}

.opened {
    display: block;
}

.closed {
    display: none;
}

.swapManageOffers {
    width: 90%;
}

.coinSwapSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    margin: 5px;
}

/*.coinSwapSettings:hover {}*/

.coinSwapSettingsOrder {
    width: 8%;
}

.coinSwapSettingsId {
    width: 12%;
}

.coinSwapSettingsType {
    width: 20%;
}

.coinSwapSettingsName {
    width: 40%;
}

.coinSwapSettingsAvailability {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    width: max-content;
    height: max-content;
}

.coinSwapSettingsHeader {
    font-weight: bold;
    color: var(--darkBlue);
    background-color: var(--lightOrange);
}

.coinSwapSettingsHeader:hover {
    background-color: var(--lightOrange);
}

.swapManageCloseBtnContainer input[type=button] {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.swapManageCloseBtnContainer {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.swapManageCloseBtnContainer:hover>.swapManageCloseBtn, .swapManageCloseBtnContainer:hover>.swapManageCloseBtn::after {
    /*border-color: white;*/
    border-color: var(--darkBlue);
}

.swapManageCloseBtn {
    position: absolute;
    width: 20px;
    height: 3px;
    top: 13px;
    left: 5px;
    transform: rotate(45deg);
    border-bottom: 3px solid rgb(189, 189, 189);
}

.swapManageCloseBtn::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 12px;
    transform: rotate(-90deg);
    border-bottom: 3px solid rgb(189, 189, 189);
}

.swapRequestChangesName {
    margin: 10px 0 5px 0;
    color: rgba(135, 152, 173);
    cursor: pointer;
    font-weight: bold;
}

.swapRequestChangesName:hover {
    color: var(--blue);
}

.swapRequestChanges {
    padding-left: 10px;
    padding-top: 5px;
}

.addedCoinToSwapId {
    display: none;
}

.textBold {
    text-transform: none;
    font-weight: bold;
    display: inline-block;
}

.textGrey {
    display: inline-block;
    color: var(--grey);
}

.swapUserRequestName:hover .textGrey, .swapMyRequestName:hover .textGrey {
    color: var(--lighterGrey);
}

.textDarksestBlue {
    display: inline-block;
    color: var(--darksestBlue);
}

.swapRequestIdHidden, .swapMessageReceiverHidden {
    display: none;
}

.swapChangesCoinContainer {
    padding-left: 10px;
    color: var(--blue);
    display: block;
}

.swapModalCancelRequestId, .swapModalDismissRequestId {
    display: none;
}

.noRequestsContainer {
    padding: 2% 0;
    color: var(--grey);
    font-style: italic;
}

.swapNoOfferedCoins {
    color: var(--grey);
    font-style: italic;
}

.swapEmptyOfferComment {
    color: var(--grey);
    font-style: italic;
}

.swapCoinDetailsModalWrapper {
    /*display: flex*/
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.swapCoinDetailsModal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    overflow-y: auto;
}

.swapCoinDetailsModalName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    color: var(--darkBlue);
}

.swapCoinDetailsModalCoinName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    color: var(--darkerBlue);
    font-weight: bold;
    background-color: var(--lightBlue);
    border-radius: 3px;
}

.swapCoinDetailsModalRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
}

.swapCoinDetailsModalRowName {
    min-width: 120px;
    margin-right: 5px;
    color: var(--white);
    font-weight: bold;
    background-color: var(--orange);
    border-radius: 3px;
    padding: 3px;
}

.swapCoinDetailsModalRowContent {
    min-width: 120px;
    margin-right: 5px;
    background-color: var(--lightOrange);
    border-radius: 3px;
    padding: 3px;
    overflow: auto;
}

.modalCoinDtataValueEmpty {
    display: inline-block;
    font-style: italic;
    color: var(--grey);
}

.modalCoinDataValue {
    display: inline-block;
    color: var(--darkerBlue);
}

.swapCoinDetailsModalTable {
    width: 100%;
}

.swapCoinDetailsModalRowLink {
    width: 100%;
    margin-top: 10px;
    min-height: 35px;
    color: var(--blue);
    font-style: italic;
}

.swapCoinDetailsModalRowLink a {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.swapCoinDetailsModalRowLink a:hover {
    color: var(--darkerBlue);
}

@media only screen and (max-width: 768px) {
    .swapCoinDetailsModal {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .swapCoinDetailsModal {
        width: 90%;
    }
}
